main {
  align-items: center;
  text-align: center;
  padding-top: 100px;
  background-color: rgb(66, 32, 190);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 10vw;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  color: yellow;
  padding-bottom: 24px;
}

#addTask {
  padding-bottom: 35px;
  font-size: 24px;
}

#addInput {
  color: rgb(39, 20, 109);
  background-color: rgb(255, 255, 247);
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
  border-radius: 13px;
  padding: 8px 13px;
  font-size: 3.2vw;
}

#addInput::placeholder {
  color: rgba(66, 32, 190, 0.6);
}

#addButton {
  padding: 8px 13px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  color: yellow;
  background-color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
}

#addButton:hover {
  padding: 8px 13px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
  background-color: yellow;
}

#removeButton {
  padding: 8px 13px;
  margin: 10px 20px 10px 10px;
  font-size: 3.2vw;
  color: yellow;
  background-color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
}

#removeButton:hover {
  padding: 8px 13px;
  margin: 10px 20px 10px 10px;
  font-size: 3.2vw;
  color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
  background-color: yellow;
}

#todoList {
  color: rgb(231, 230, 245);
  letter-spacing: 0px;
  align-items: center;
  text-align: center;
  max-width: fit-content;
}

#list {
  text-align: left;
  text-transform: capitalize;
  word-spacing: 2px;
  list-style-type: none;
  max-width: fit-content;
}

.task {
  margin-top: 2px;
  font-size: 3.5vw;
  max-width: fit-content;
}

.checkbox {
  background: rgb(255, 255, 190);
  border: 1px solid #999;
  border-radius: 13px;
  float: left;
  line-height: 20px;
  height: 19px;
  margin-right: 10px;
  margin-top: 2px;
  text-align: center;
  width: 19px;
}