main {
  align-items: center;
  text-align: center;
  padding-top: 100px;
  background-color: rgb(66, 32, 190);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 10vw;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  color: yellow;
  padding-bottom: 24px;
}

#addItem {
  padding-bottom: 35px;
  font-size: 24px;
}

#addInput {
  color: black;
  background-color: rgb(255, 255, 132);
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
  border-radius: 13px;
  padding: 8px 13px;
  font-size: 3.2vw;
}

#addButton {
  padding: 8px 13px;
  margin: 10px 30px;
  font-size: 3.2vw;
  color: yellow;
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
  cursor: pointer;
}

#todoList {
  color: rgb(231, 230, 245);
  letter-spacing: -1px;
  font-size: 3vw;
  align-items: center;
  text-align: center;
}

#list {
  text-align: left;
  word-spacing: 2px;
}